@import '../../styles/utils';

:root {
  --channel-width: 12rem;
}

main {
  & > *:not(:first-child) {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin-left: var(--channel-width);
    @include useTransition(margin);
  }
  &[data-hide='true'] > *:not(:first-child) {
    margin-left: 0;
  }
}
